.card-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -2rem;
    margin-bottom: 2rem;

    padding: 0 10rem;
}

.card-link {
    min-height: 16rem;
    width: 25%;
    background: var(--col-special);
    padding: 1rem;
}

.card {
    display: block;
    flex: 33% 20% 1;
}
