
.go-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    justify-content: center;
    align-items: center;
    background: var(--col-special);
    color: var(--col-special-inv);
    font-weight: bolder;
    font-size: 1.8rem;
    padding-top: .3rem;
    text-decoration: none;

    @include hexify(50px);

    &.show {
        display: flex;
    }

}
