
* {
    box-sizing: border-box
}

html body {
    margin: 0;
    background-color: var(--col-secondary);
    color: var(--col-primary-inv);
    font-family: "Roboto Light", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > * {
        flex-grow: 100;
    }
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
}

.footer {
    flex-grow: 0;
    background: var(--col-secondary);
    min-height: .06vh;
    padding: 2rem 0;
    color: var(--col-primary-inv);

    h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

.footer-navigation {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    border: 1px solid var(--col-primary-inv);
    border-left: 0 none;
    border-right: 0 none;


    a {
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        line-height: 3rem;
        margin: 1em 1.6em;
        text-transform: uppercase;

        &:hover {
            color: var(--col-special);
        }
    }
}

.about {
    display: flex;
    justify-content: center;
}

.copyright {
    @extend .about;
    padding: 1.5em 1em;
}


.skip2content {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);

    background: var(--bg-special);
    height: 30px;
    padding: 8px;
    transition: transform 0.3s;

    &:focus {
        transform: translateY(0%);
    }
}


.site-heading {
    background-image: url("../img/page-header-default.jpg");
    color: var(--col-primary);
    padding: calc(var(--header-height) + 3em) 2em 3em;
}

.content {
    background: var(--col-primary);
    position: relative;
}

.form-field, .form-group {
    padding: 0 20%;
    margin-bottom: 1em;
}

.form-field > * {
    width: 100%;
}

.form-group {
    display: flex;

    .form-field {
        padding: 0;
        max-width: 50%;
    }
}
