
* {
    box-sizing: border-box
}

html body {
    margin: 0;
    background-color: var(--col-primary);
    color: var(--col-primary-inv);
    font-family: "Roboto Light", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
}


.footer-navigation {
    display: flex;
    justify-content: center;
    border: 1px solid var(--bg-special);
    border-left: 0 none;
    border-right: 0 none;
    color: rgb(130, 130, 130);

    ul {
        padding: 0
    }

    li {
        display: inline-block;
        list-style: none;
    }
}

.skip2content {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);

    background: var(--bg-special);
    height: 30px;
    padding: 8px;
    transition: transform 0.3s;

    &:focus {
        transform: translateY(0%);
    }
}


.site-heading {
    background: url("../img/page-header-default.jpg") rgb(30, 160, 40);
    color: var(--col-primary);
    padding: calc(var(--header-height) + 3em) 2em 3em;
}

.footer {
    background-color: var(--bg-special);
    color: var(--col-special);
}

.content {
    background: var(--bg-primary);
    position: relative;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 1.5em 1em;
}

.form-field, .form-group {
    padding: 0 20%;
    margin-bottom: 1em;
}

.form-field > * {
    width: 100%;
}

.form-group {
    display: flex;

    .form-field {
        padding: 0;
        max-width: 50%;
    }
}
